@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 23% 8%; /* Very dark blue night #0f111a */
    --foreground: 210 40% 98%; /* Soft white */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased overflow-x-hidden;
  }
}

.stars-bg {
  background-image: radial-gradient(circle at center, #ffffff 1px, transparent 1px);
  background-size: 100px 100px;
}
